:root {
    --primary: #0071e2;
    --primary-variant: #3690eb;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.2rem;
}

h1 {
    font-size: 1.7rem;
}

body {
    background-color: #f8f8f8;
    color: #494949;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background: var(--primary);
    padding: 0 0.7rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#logo {
    width: 3rem;
    margin: 0 0.7rem;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    list-style-type: none;
}

header ul li {
    margin-right: 0.7rem;
}

header ul li a {
    text-decoration: none;
    color: white
}

header ul li a:hover {
    color: #dde29b;
}

main {
    margin: 0.7rem 0;
    padding: 0.3rem 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#cash-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#cash {
    color: white;
    font-weight: 700;
}

button {
    border: none;
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 0.4rem 1rem;
    cursor: pointer;
    font-size: 16px;
    color: #444;
}

.btn-white {
    background-color: white;
    color: var(--primary);
}

.btn-blue {
    background-color: var(--primary);
    color: #fff;
}

.btn-blue:hover {
    background-color: #004f9d;
}

.btn-red:hover {
    background-color: #8f2d2d;
}

.btn-green:hover {
    background-color: #2c825f;
}

.btn-green {
    background-color: #36a77a;
    color: #fff;
}

.btn-red {
    background-color: #c84444;
    color: #fff;
}

.hr {
    width: 100%;
    border-top: 1px solid #cacaca;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding-top: 1px;
    margin: 0;
}

h1,
h2,
h3 {
    margin-bottom: 0.3rem;
}

.c-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.r-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    pad: 1rem 0;
}

/* ------------- Table ------------- */

table {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 5px;
    border-collapse: collapse;
    overflow: hidden;
    margin: 0;
    width: 100%;
    vertical-align: bottom;
    margin: 0 !important;
    padding: 0 !important;

}

th,
td {
    text-align: center;
    padding: 0.2rem 0.7rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0.5rem;
}

tbody td:last-child {
    max-width: 1.7rem;
}

tr:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

thead th {
    background-color: #ededed;
    color: #3b3b3b;
    padding: 7px 5px;
    font-weight: 500;
    border-top: 1px solid #dadada;
}

thead th:first-child {
    border-left: 1px solid #dadada;
    border-top-left-radius: 3px;
}

thead th:last-child {
    border-top-right-radius: 3px;
    border-right: 1px solid #dadada;
}

td:last-child,
th:last-child {
    border-right: none;
}

tr {
    border-bottom: 1px solid #e7e7e7;
}

tr:last-child td {
    border-bottom: none;
}


tbody th {
    padding: 10px;
    /* border-bottom: 1px solid #ddd; */
    border-right: 1px solid #ddd;
}

.field {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

label {
    text-align: right;
}

input,
textarea,
select {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}

select {
    width: 100%;
}