:root {
    --primary: #0071e2;
    --primary-variant: #3690eb;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.2rem;
}

body {
    background-color: #f8f8f8;
    color: #494949;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background: var(--primary);
    padding: 0 0.7rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#logo {
    width: 3rem;
    margin: 0 0.7rem;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    list-style-type: none;
}

header ul li {
    margin-right: 0.7rem;
}

header ul li a {
    text-decoration: none;
    color: white
}

header ul li a:hover {
    color: #dde29b;
}

main {
    margin: 1rem 0;
    padding: 0.3rem 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#cash-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#cash {
    color: white;
    font-weight: 700;
}

button {
    border: none;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 16px;
    margin: 0.2rem;
    color: #444;
}

.btn-white {
    background-color: white;
    color: var(--primary);
}

.btn-blue {
    background-color: var(--primary);
    color: #fff;
}

.btn-blue:hover {
    background-color: #004f9d;
}

.btn-red:hover {
    background-color: #8f2d2d;
}


.btn-green {
    background-color: rgb(54, 167, 122);
    color: #fff;
}

.btn-red {
    background-color: rgb(200, 68, 68);
    color: #fff;
}

.hr {
    width: 100%;
    border-top: 1px solid #cacaca;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding-top: 1px;
    margin: 0;
}

h1,
h2,
h3 {
    margin-bottom: 0.3rem;
}

.c-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

/* ------------- Table ------------- */

table {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 6px;
    border: 1px solid #e7e7e7;
    border-collapse: collapse;
    overflow: hidden;
    margin: 0;
    width: 100%;
    vertical-align: bottom;
    margin: 0 !important;
    padding: 0 !important;
    /* A borda agora é da DIV, não da tabela */
}

th,
td {
    text-align: center;
    padding: 0.2rem 0.7rem;
    margin: 0;
}

thead th {
    background-color: var(--primary);
    color: #fff;
    padding: 10px;
    /* border-bottom: 2px solid var(--primary-variant); */
}

thead th:first-child {
    border-top-left-radius: 6px;
}

thead th:last-child {
    border-top-right-radius: 6px;
}

td:last-child,
th:last-child {
    border-right: none;
}

tr {
    border-bottom: 1px solid #e7e7e7;
}

tr:last-child td {
    border-bottom: none;
}


tbody th {
    padding: 10px;
    /* border-bottom: 1px solid #ddd; */
    border-right: 1px solid #ddd;

}