{% extends "base.html" %}
{% block title %}Categorias{% endblock %}

{% block content %}
<h1>Categorias</h1>
<div class="hr"></div>

<div>
    <button class="btn-green" onclick="window.location.href=`{{ url_for('new_category') }}`">Nova categoria</button>
</div>

<div class="c-center">
    <table id="category-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Criado em</th>
                <th>Atualizado em</th>
                <th>Ações</th>
            </tr>

        </thead>
        <tbody>
            {% for cat in categories %}
            <tr>
                <th id="category-id">{{ cat.id }}</th>
                <td>{{ cat.name }}</td>
                <td>{{ cat.created_at }}</td>
                <td>{{ cat.updated_at if cat.updated_at else "-" }}</td>
                <td>
                    <button onclick="window.location.href=`{{ url_for('update_category', category_id=cat.id) }}`"
                        id="update-category-btn" class="btn-blue">Editar</button>
                    <button data-id="{{ cat.id }}" id="delete-category-btn" class="btn-red">Apagar</button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}