<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Chico Bank's</title>
</head>

<body>
    <header>
        <ul>
            <li>Painel</li>
            <li>Conta</li>
            <li>Contato</li>
        </ul>
    </header>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>