{% extends "base.html" %}
{% block title %}Atualizar categoria{% endblock %}

{% block content %}
<h1>Atualizar categoria</h1>
<div class="hr"></div>

<form action="/update_category/{{ category.id }}" method="POST" id="newCategoryForm">
    <div class="c-center">
        <h3>Id: {{ category.id }}</h3>
        <div>
            <label for="name">Nome da categoria</label>
            <input name="name" value="{{ category.name }}" id="newCategoryInput" type="text">
        </div>
        <div class="r-center" style="margin-top: 1rem;">
            <button onclick="window.location.href='/categories'" type="button" style="margin-right: 1rem;"
                class="btn-blue">Voltar</button>
            <button type="submit" style="width: 10vw;" class="btn-green">Atualizar!</button>
        </div>
    </div>
</form>

{% endblock %}